<style>
.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 10px;
  color:#FF7F50;
  border:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.menu{
  position: fixed;
  z-index:1000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:200px; 
  background:#f1f1f1;
  text-align:center; 
}
.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu li {
  font-size: 24px;
  display: block;   
  padding:15px 0 15px 0; 
  border-bottom:#FF7F50 1px solid;
  font-family: Helvetica;
}
.menu li:hover{
  display: block;    
  background:#ffffff; 
  padding:15px 0 15px 0; 
  border-bottom:#FF7F50 1px solid;
}
.menu ul li a { 
  text-decoration:none;  
  margin: 0px; 
  color:#666;
}
.menu ul li a:hover {  
  color: #666; 
  text-decoration:none;
}
.menu a{
  text-decoration:none; 
  color:#666;
}
.menu a:hover{
  text-decoration:none; 
  color:#666;
}


.logoutButton {
    margin-bottom: 2em;
    background-color: #DF5E5E; 
    color: black; 
    border: 0px solid;
    font-family: Helvetica;
}

.logoutButton:hover {
    background-color: #A10808;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>

<script>
  function logout() {
    FB.logout(function(response) {
      logoutCallback(response);
    });
    console.log("logout called");
  }

  function logoutCallback(response) {
    console.log(response);
    window.location.href="/";
  }
</script>

<div class="menu">
	  		<ul>
	  			<a href="/home"><li> My Pantry </li></a>
	    		<a href="/add"><li> Add Item </li></a>
	    		<a href="/account"><li>Account Settings</li></a>
	  		</ul>
	  		
	  		<!--LogOut Button-->
	  		<br /><br /><br />
		  	<table class="bottom_button_table" align="center">
				<tr>
					<td>
						<button class="button logoutButton" onclick="logout()">LOGOUT</button>
					</td>
				</tr>
			</table>
</div>