<div class="menu">
	  		<ul>
	  			<a href="/home"><li> My Pantry </li></a>
	    		<a href="/add"><li> Add Item </li></a>
	    		<a href="/account"><li>Account Settings</li></a>
	  		</ul>
	  		
	  		<!--LogOut Button-->
	  		<br /><br /><br />
		  	<table class="bottom_button_table" align="center">
				<tr>
					<td>
						<a href="/">
							<button class="button logoutButton">LOGOUT</button>
						</a>
					</td>
				</tr>
			</table>
		</div>