<!doctype html>

<html>
<head>
	<link href="index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Syncopate" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<header>
  		<button class="hamburger">&#9776;</button>
  		<!--<button class="cross">&#735;</button>-->
	</header>

	<div class="menu">
  		<ul>
  			<a href="/home"><li> My Pantry </li></a>
    		<a href="/history"><li> History </li></a>
    		<a href="/settings"><li> Settings </li></a>
    		<a href="/account"><li>Account</li></a>
  		</ul>
  		
  		<!--LogOut Button-->
  		<br /><br /><br />
	  	<table class="bottom_button_table" align="center">
			<tr>
				<td>
					<a href="/">
						<button class="button logoutButton">LOGOUT</button>
					</a>
				</td>
			</tr>
		</table>


	</div>

	<!-- Title: Account -->
	<div class = "title">
		<h1>Account</h1>
	</div>

	<table class="bottom_button_table" align="center">
		<tr>
			<td>
				<a href="/" class="edit_item">
					<button class="button logoutButton">LOGOUT</button>
				</a>
			</td>
		</tr>
	</table>

		
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
