<!doctype html>

<html>
<head>


	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Syncopate" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/general.css">
	<link rel="stylesheet" href="/css/add.css">
  <link rel="stylesheet" href="/css/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1265350636883154',
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          console.log("user logged into facebook and app");
          console.log(response);
          FB.api('/me?fields=name,first_name,picture.width(480)', get_owner);
        } else {
          console.log("user is not logged into facebook or app");
          alert("You are not logged into Facebook or the App");
          window.location.href="/";
        }
      });
    };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


      function get_owner(response) {
        var FB_firstname = response.first_name;
        console.log(FB_firstname);
        document.getElementById("owner").value = FB_firstname;
      }

  </script>

  <script src="/js/facebook.js"></script>
  
    {{#if nav}}
<header>
  		<button class="hamburger">&#9776;</button>
  		<!--<button class="cross">&#735;</button>-->
</header>
{{> menu}}

	<!-- Title: MyPantry -->
	<div class = "title">Add Item</div>
	<ul class="contains">
		<form id="addItemForm" role="form" method="get" action="/addItem">
			<ul class="flex-outer">

        <input class="hide" type="text" id="owner" name = "owner">

      			<li>
        			<label for="item_name">Item Name</label>
        			<input type="text" placeholder="Enter item name here" name = "item_name">
      			</li>
      			<li>
       				<label for="date" class="col-2 col-form-label">Expiration Date</label>
    					<div class="col-10">
      				<input class="form-control" type="date" value="2011-08-19" id="example-date-input">
      			</li>
      			<li>
        			<label for="price">Price</label>
        			<input type="text" placeholder="Price" name="total_price">
      			</li>
      			<li>
              <label class="form-check-label">
      				<input type="checkbox" for="shareable" name="shareable">Check me out</label>
      			</li>
      			<li>
        			<button type="submit">Submit</button>
      			</li>
      			<li></li>
    		</ul>
    		</form>
</ul>



    {{else}}

	<header>
  		<button class="hamburger">&#9776;</button>
  		<!--<button class="cross">&#735;</button>-->
	</header>
	{{> menu}}

	<!-- Title: MyPantry -->
	<div class = "title">Add Item</div>

	<ul class="contains">
		<form id="addItemForm" role="form" method="get" action="/addItem">
			<ul class="flex-outer">
				<input class="hide" type="text" id="owner" name = "owner">
      			<li>
        			<label for="item_name">Item Name</label>
        			<input type="text" placeholder="Enter item name here" name="item_name">
      			</li>

      			<li>
     				<label for="date" class="col-2 col-form-label">Expiration Date</label>
  					<div class="col-10">
    				<input class="form-control" type="date" value="2017-03-10" id="example-date-input" name="expiration_date">
      			</li>

      			<li>
        			<label for="price">Price</label>
        			<input type="text" placeholder="Price" name="price">
      			</li>


      			<li>
      				<label for="item_imageURL">Icon</label>
      				<select name="item_imageURL" id="icon" class="icon-menu">
      				<option style="padding-left:0px;" value="">Select an Icon</option>
      				{{#each icon_imageURLs}}
                 <option style="background-image:url({{url}});" value="{{url}}" >{{name}}</option>
              {{/each}}

					   </select>
      			</li>

      		
      			<li><label for="item_category">Category</label>
      				<input type="text" placeholder="Fruit? Dairy?" name="item_category">
      			</li>

      			<li><label for="description">Description</label>
      				<input type="text" placeholder="Any plan about how to eat/cook?" name="description">
      			</li>

      			<li><div class="check-label">
      				<input type="checkbox" for="shareable" name="shareable">Is this item shareable?</div>
      			</li>

      			<li>
        			<button type="submit">Submit</button>
      			</li>
      			<li></li>
    		</ul>
	
	</form>
</ul>
	{{/if}}
		
	<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93243615-1', 'auto');
  ga('send', 'pageview');
  ga("send", "event", 'submit', 'click');

</script>
</body>

</html>
