<!doctype html>

<html>

<head>
	<title>History</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/history.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
		<div class="title">
				<h1>History</h1>
		</div>

		<span>
	  		<button class="hamburger">&#9776;</button>
	  		<button class="cross">&#735;</button>
		</span>

		<div class="menu">
  		<ul>
  			<a href="/home"><li> My Pantry </li></a>
    		<a href="/history"><li> History </li></a>
    		<a href="/add"><li> Settings </li></a>
    		<a href="/account"><li>Account</li></a>
  		</ul>
  		
  		<!--LogOut Button-->
  		<br /><br /><br />
	  	<table class="bottom_button_table" align="center">
			<tr>
				<td>
					<a href="/">
						<button class="button logoutButton">LOGOUT</button>
					</a>
				</td>
			</tr>
		</table>


	</div>

	<div class="container">
			<div class="item_history">
				{{#each item}}
					<div class="item-wrapper">
						<a href="/item/{{item_ID}}" class="click-listener">
							<img src="{{ imgURL }}" class="img-responsive" />
							<p class="text_centered">{{ item_name }}</p>
						</a>
					</div>
				{{/each}}
			</div>

			<table class="bottom_button_table" align="center">
				<tr>
					<td>
						<a href="#" class="floating_plus_icon">
							<button class="button addButton">Add</button>
						</a>
					</td>
					<td>
						<a href="#" class="edit_item">
							<button class="button editButton">Edit</button>
						</a>
					</td>
				</tr>
			</table>	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
