@import "compass/css3";

maincColor: $76b852;

body{
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  width:100%;
  height:100vh;
    background:#ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  width:100%; 
  background:#ffffff; 
  height:60px; 
  line-height:60px;
  border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:50%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
>>>>>>> d3f9841be72fcdb84f2f209b2a0cc794e1e08d83

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{
  padding: 100;
  margin: 100;
  color: #111; 
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  font-family: 'Helvetica Neue', 
  sans-serif; 
  font-size: 275px; 
  font-weight: 
  bold;
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}
span{padding-left:20px;}
a{color:#336699;}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background-image: url("../../shelves.jpg");
  background-repeat:no-repeat;
  padding: 5px;
  width: 400vh;
  height: 100vh;
  margin-top: 10px;  
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.title {
  font-family: Syncopate;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 73.5px;
}
h1 {
  color: #7c795d; font-family: 'Trocchi', 
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  serif; 
  font-size: 80px;
  letter-spacing: -1px; 
  font-weight: 
  normal; 
  line-height: 48px; 
  margin: 0;  
  text-align: center;
}
h1{
  text-shadow:2px 6px 11px rgba(1,1,1,1);
  font-weight:normal;
  color:#FFFFFF;
  letter-spacing:3pt;
  word-spacing:-2pt;
  font-size:54px;
  text-align:center;
  font-family:trebuchet MS, sans-serif;
  line-height:1;
}
body {
  background-color: #76b852;
}